@using Amarath.DAL.Models;
@using Amarath.DAL.Data;
@using Microsoft.EntityFrameworkCore;

@inject UserManager<IdentityUserExt> userManager;

@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //Get the logged in user and their character
    var optionsBuilder = new DbContextOptionsBuilder<AmarathContext>();
    var db = new AmarathContext(optionsBuilder.Options);

    var cUser = await userManager.GetUserAsync(User);
    var cChar = db.Characters.First(x => x.UserId == cUser.Id);
    //var cInventory = db.Inventories.All(x => x.CharID == cChar.CharId);
    //var cInventory = db.Inventories.Select(x => x.CharID == cChar.CharId);
    var cInventory = db.Inventories.Where(x => x.CharID == cChar.CharId);
}
<style>
    html, body {
        background-color: #000000;
        height: 100%;
    }

    container {
        padding: 0px;
    }
</style>
<div class="game-container text-center main-font">
    <div class="game-header">
        <div class="row">
            <p class="col-sm-2">@cChar.Name</p>
            <p class="col-sm-1">Lvl. @cChar.Rank</p>
            <p class="col-sm-6">Health</p>
            <button class="col-sm-2 btn btn-default main-font" data-toggle="modal" data-target="#statsModal">Stats</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">Left</div>
        <div class="col-md-4">Right</div>
    </div>
    <div class="game-footer">
        <div class="row">
            <div class="col-sm-8">
                <input class="body-font" value="test" />
            </div>
            <button class="col-sm-2 btn btn-default main-font" data-toggle="modal" data-target="#inventoryModal">Inventory</button>
        </div>
        <!---
        <div class="row">
            <input class="col-md-8" value="Test"/>
            <button class="col-md-4 btn btn-default">Inventory</button>
        </div>
        -->
    </div>
</div>

<!--Stats Modal-->
<div class="modal fade" id="statsModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>@cChar.Name 's Stats</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        Strength <span class="badge">@cChar.Strength</span>
                    </li>
                    <li class="list-group-item">
                        Dexterity <span class="badge">@cChar.Dexterity</span>
                    </li>
                    <li class="list-group-item">
                        Intelligence <span class="badge">@cChar.Intelligence</span>
                    </li>
                    <li class="list-group-item">
                        Max Health <span class="badge">@cChar.MaxHealth</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><img src="~/images/Back_Button.png" /></button>
            </div>
        </div>
    </div>
</div>

<!--Inventory Modal-->
<div class="modal fade" id="inventoryModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body main-font-sm">
                <h2>@cChar.Name 's Inventory</h2>
                <div class="row">
                    <div class="col-md-5">Name</div>
                    <div class="col-md-1">Quantity</div>
                    <div class="col-md-1">Type</div>
                    <div class="col-md-1">Strength</div>
                    <div class="col-md-1">Dexterity</div>
                    <div class="col-md-1">Intelligence</div>
                    <div class="col-md-1">Damage</div>
                    <div class="col-md-1">Defense</div>
                </div>
                <div class="body-font">
                    @foreach (var item in cInventory)
                    {
                        var detail = db.Items.First(x => x.ItemID == item.ItemID);
                        <div class="row">
                            <div class="col-md-5">@detail.Name</div>
                            <div class="col-md-1">@item.Quantity</div>
                            <div class="col-md-1">@detail.Type</div>
                            <div class="col-md-1">@detail.Strength</div>
                            <div class="col-md-1">@detail.Dexterity</div>
                            <div class="col-md-1">@detail.Intelligence</div>
                            <div class="col-md-1">@detail.Damage</div>
                            <div class="col-md-1">@detail.Defense</div>
                        </div>
                        <div class="item-detail body-font-sm">
                            <div><em>@detail.Description</em></div>
                        </div>

                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><img src="~/images/Back_Button.png" /></button>
            </div>
        </div>
    </div>
</div>
