@using Amarath.DAL.Data;
@using Amarath.DAL.Models;
@model Amarath.DAL.Models.CharacterViewModel;
@using Microsoft.EntityFrameworkCore;

@inject UserManager<IdentityUserExt> userManager;
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var currentUser = await userManager.GetUserAsync(User);

    var optionsBuilder = new DbContextOptionsBuilder<AmarathContext>();
    var db = new AmarathContext(optionsBuilder.Options);
    var characters = db.Characters.Where(x => x.UserId == currentUser.Id);
}
<div class="container margin-container">
    <div class="page-header row">
        <h2>Welcome, @User.Identity.Name</h2>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-9"><h3>Your Account Information</h3></div>
        <div class="col-md-1">
            <form method="post" asp-action="Logout" asp-controller="Account">
                <button type="submit" class="btn navbar-btn ">
                    Logout
                </button>
            </form>
        </div>
        <div class="col-md-2 pull-right">
            <form method="post" asp-action="CreateCharacter" asp-controller="Character">
                <button type="submit" class="btn navbar-btn" @(characters.Count() > 0 ? "disabled" : String.Empty)>
                    Create Character
                </button>
            </form>
        </div>
    </div>
    <div>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Username: </h4>
                    <p>@currentUser.UserName</p>
                </li>
                <li class="list-group-item">
                    <h4>First Name:</h4>
                    <p>@currentUser.FirstName</p>
                </li>
                <li class="list-group-item">
                    <h4>Last Name:</h4>
                    <p>@currentUser.LastName</p>
                </li>
                <li class="list-group-item">
                    <h4>Email: </h4>
                    <p>@currentUser.Email</p>
                </li>
            </ul>
        </div>
        <div><a asp-area="" asp-controller="Account" asp-action="EditProfile">Edit Profile</a></div>
    </div>
</div>